@font-face {
	font-family: navFont;
	src: url(components/Taku.ttf);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(rgb(0, 0, 0), rgb(73, 73, 73));
	padding: 5px 80px;
	border-radius: 10px;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-family: navFont;
	font-size: larger;
	color: #fff;
	text-shadow: 2px 2px rgb(137, 137, 137);
}

html {
	overflow: hidden;
}

/* button {
    background-image: linear-gradient(to bottom right, rgb(90, 40, 150), rgb(180, 55, 170));
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 15px;
    transition-duration: .4s;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.3);
    padding: 20px 40px;
    transition-duration: .3s;
} */

container {
	align-items: center;
}

/* body {

    background-image: url(components/mainBackground.jpg);
    
} */

.nav-link-auth {
	display: inline-block;
	width: 50px;
	text-align: center;
}
